.mw-prefs-buttons a {
    display:none;
  }

div.mw-htmlform-ooui-wrapper.oo-ui-layout.oo-ui-panelLayout:first-child form[action="/w/index.php"][method="get"] > .mw-htmlform-field-HTMLUserTextField {
    display:none;
}

div.mw-htmlform-ooui-wrapper.oo-ui-layout.oo-ui-panelLayout:first-child form[action="/w/index.php"][method="get"] > .mw-htmlform-submit-buttons {
    display:none;
}

a i.fa.fa-pen.edit {
    color:black;
}

#linklogin-body .fa {
	color:#999;
	font-size:small;
}
#linklogin-body .fa:hover {
	color:#333;
}
#linklogin-body ul {
	list-style-type:none;
	padding:0;
	margin-bottom:0;
}

.linklogin-user-create .username {
	width:200px;
}
